<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Booking Form</h3>
  </div>
  <div class="panel-body">
    <h3> Book Parking Slots </h3>
<form
 [formGroup]="bookingForm"
 (ngSubmit)="bookParking()">

  <label for="date"> Select Booking Date </label>
  <input id="date"
        type="date"
        name="date"
        formControlName="date"
        (change)="check()"
        >
    <br><br>

  <label for="startTime"> Select Start Time </label>
  <select id="startTime" name="start" formControlName="time" >
    <option value="0.00"> 0:00 </option>
    <option value="1.00"> 1:00 </option>
    <option value="2.00"> 2:00 </option>
    <option value="3.00"> 3:00 </option>
    <option value="4.00"> 4:00 </option>
    <option value="5.00"> 5:00 </option>
    <option value="6.00"> 6:00 </option>
    <option value="7.00"> 7:00 </option>
    <option value="8.00"> 8:00 </option>
    <option value="9.00"> 9:00 </option>
    <option value="10.00"> 10:00 </option>
    <option value="11.00"> 11:00 </option>
    <option value="12.00"> 12:00 </option>
    <option value="13.00"> 13:00 </option>
    <option value="14.00"> 14:00 </option>
    <option value="15.00"> 15:00 </option>
    <option value="16.00"> 16:00 </option>
    <option value="17.00"> 17:00 </option>
    <option value="18.00"> 18:00 </option>
    <option value="19.00"> 19:00 </option>
    <option value="20.00"> 20:00 </option>
    <option value="21.00"> 21:00 </option>
    <option value="22.00"> 22:00 </option>
    <option value="23.00"> 23:00 </option>
  </select>

  <label for="duration"> Select Duration </label>
  <select id="duration" name="duration" formControlName="duration" > 
    <option value="1"> 1 hour </option>
    <option value="2"> 2 hours </option>
    <option value="3"> 3 hours </option>
    <option value="4"> 4 hours </option>
    <option value="5"> 5 hours </option>
  </select>
<br><br>

  

  <div>
    <span *ngFor="let slots of slots; let i=index">
    <button  type="button" class="btn"  [ngClass]="{'btn-primary':!validate(i) , 'btn-danger':validate(i)}" [disabled]="validate(i)" (click)="bookSlot(i, slots.id)">Slot {{slots.id}}</button>
      <!--<button *ngIf="salidate()" type="button" class="btn" [disabled]="slots.isBooked" [ngClass]="{'btn-success':!slots.isBooked , 'btn-danger':slots.isBooked}" (click)="bookSlot(i, slots)">Not Available</button>-->
    </span>
  </div>
  <br><br>

  <button *ngIf="bookingForm.valid && bookedslot" type="submit" class="btn btn-primary">Book</button>
  <button *ngIf="!bookingForm.valid || !bookedslot"type="submit" class="btn btn-primary" disabled>Book</button>
</form>
  </div>
</div>

<!--<p>{{bookings$ | async}}</p>-->

<!--<button (click)="check()">Check</button>-->

<div *ngIf="success" class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Successfull!</strong> You have booked parking slot successfully
</div>